<div class="ow_lp_avatars">
	<div id="map_canvas"
		style="width: 100%; height: 200px; background-color: rgb(229, 227, 223); position: relative;">
		<a id="location_map_anchor" target="_blank"
			href="http://api.map.baidu.com/marker?location={$latitude},{$longitude}&content={$location}&output=html">
			<img id="location_map"
			src="http://api.map.baidu.com/staticimage?width=200&height=200&center={$longitude},{$latitude}&markers={$longitude},{$latitude}&zoom=17&markerStyles=s,A,0xff0000"
			style="width: 100%; height:100%;">
		</a>
	</div>
	<div  style="text-align:left; margin-top: 10px;"> {$location} , {$formated_address}
	</div> 
</div>
