<!-- <div id="zl_searchbar" class="find-navbar-wrap"> -->
	<nav id="findNavBar" class="navbar navbar-inverse" role="navigation" style="border-radius:0; width:100%; z-index: 2;">
	   <div class="container">
            <div class="collapse navbar-collapse center-block" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="id-simple-location" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="39.904030,116.407516" data-areacode="0">
                    <span class="value">北京市，全部区域</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-location" class="dropdown-menu" role="menu">
						<li><a class="leledefault" data-copy="北京市，全部区域"
							data-value="39.904030,116.407516" data-areacode="0" href="#">北京市，全部区域</a></li>
						<li><a data-copy="北京市，东城区" data-value="39.92835,116.41635"
							data-areacode="110101" href="#">北京市，东城区</a></li>
						<li><a data-copy="北京市，西城区" data-value="39.91228,116.36586"
							data-areacode="110102" href="#">北京市，西城区</a></li>
						<li><a data-copy="北京市，海淀区" data-value="39.959900,116.298042"
							data-areacode="110108" href="#">北京市，海淀区</a></li>
						<li><a data-copy="北京市，朝阳区" data-value="39.92147,116.4431"
							data-areacode="110105" href="#">北京市，朝阳区</a></li>
						<li><a data-copy="北京市，丰台区" data-value="39.85846,116.28706"
							data-areacode="110106" href="#">北京市，丰台区</a></li>
						<li><a data-copy="北京市，石景山区" data-value="39.90661,116.22298"
							data-areacode="110107" href="#">北京市，石景山区</a></li>
						<li><a data-copy="北京市，门头沟区" data-value="39.94064,116.102"
							data-areacode="110109" href="#">北京市，门头沟区</a></li>
						<li><a data-copy="北京市，房山区" data-value="39.74914,116.14326"
							data-areacode="110111" href="#">北京市，房山区</a></li>
						<li><a data-copy="北京市，大兴区" data-value="39.72692,116.34139"
							data-areacode="110115" href="#">北京市，大兴区</a></li>
						<li><a data-copy="北京市，通州区" data-value="39.90996,116.65643"
							data-areacode="110112" href="#">北京市，通州区</a></li>
						<li><a data-copy="北京市，顺义区" data-value="40.13021,116.65481"
							data-areacode="110113" href="#">北京市，顺义区</a></li>
						<li><a data-copy="北京市，昌平区" data-value="40.22066,116.2312"
							data-areacode="110114" href="#">北京市，昌平区</a></li>
						<li><a data-copy="北京市，平谷区" data-value="40.1407,117.12138"
							data-areacode="110117" href="#">北京市，平谷区</a></li>
						<li><a data-copy="北京市，怀柔区" data-value="40.31657,116.63196"
							data-areacode="110116" href="#">北京市，怀柔区</a></li>
						<li><a data-copy="北京市，密云县" data-value="40.37629,116.84299"
							data-areacode="110228" href="#">北京市，密云县</a></li>
						<li><a data-copy="北京市，延庆县" data-value="40.45695,115.97484"
							data-areacode="110229" href="#">北京市，延庆县</a></li>
					</ul>
                </li>
                <li class="dropdown">
                  <a id="id-simple-radius" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="0">
                    <span class="value">任意距离</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-radius" class="dropdown-menu" role="menu">
							<li><a data-copy="2 公里" data-value="2" href="#"> 2 公里 </a></li>
							<li><a data-copy="5 公里" data-value="5" href="#"> 5 公里 </a></li>
							<li><a data-copy="10 公里" data-value="10" href="#"> 10 公里 </a></li>
							<li><a data-copy="25 公里" data-value="25" href="#"> 25 公里 </a></li>
							<li><a data-copy="50 公里" data-value="50" href="#"> 50 公里 </a></li>
							<li><a data-copy="100 公里" data-value="100" href="#"> 100 公里 </a></li>
							<li><a class="leledefault" data-copy="任意距离" data-value="0" href="#">任意距离</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="id-simple-timerange" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="0">
                    <span class="value">任意时间</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-timerange" class="dropdown-menu" role="menu">
							<li><a data-copy="1 天" data-value="1" href="#">1 天</a></li>
							<li><a data-copy="1 周" data-value="7" href="#">1 周</a></li>
							<li><a data-copy="1 月" data-value="30" href="#"> 1 月 </a></li>
							<li><a class="leledefault" data-copy="任意时间" data-value="0" href="#">任意时间</a></li>
                  </ul>
                </li>
                <li><a>之内的</a></li>
              </ul>

			  <form class="navbar-form navbar-left">
			        <div id="lele_type" class="btn-group">
                        <button type="button" leletype="group" class="btn btn-primary active">乐群</button>
                        <button type="button" leletype="privateevent" class="btn btn-primary">群乐</button>
                    </div>
               </form>
            
               <form class="navbar-form navbar-left" style="width: 450px; margin-top: 10px;" role="search">
                    <div class="input-group">
                      <input id="mainKeywords" type="text" class="form-control" placeholder="关键字、时间、地点、类型等">
                      <span class="input-group-btn">
<!--                         <button id="searchme" class="btn btn-primary" type="button">Go!</button> -->
                        <input id="searchme" class="btn btn-primary" type="submit" value="Go!" style="padding-left: 10px; padding-right: 20px;"></input>
                      </span>
                    </div><!-- /input-group -->
                </form>

            </div>
	   </div>
	</nav>

<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
<p>fds</p>
