
<!-- <div id="zl_searchbar" class="find-navbar-wrap"> -->
	<nav id="findNavBar" class="navbar navbar-inverse" role="navigation" style="border-radius:0; width:100%; z-index: 20;">
	   <div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
<!--               <a class="navbar-brand" href="#">Brand</a> -->
            </div>
            <div class="collapse navbar-collapse center-block" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="id-simple-location" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="39.904030,116.407516" data-areacode="0">
                    <span class="value">北京市，全部区域</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-location" class="dropdown-menu" role="menu">
						<li><a class="leledefault" data-copy="北京市，全部区域"
							data-value="39.904030,116.407516" data-areacode="0" href="#">北京市，全部区域</a></li>
						<li><a data-copy="北京市，东城区" data-value="39.92835,116.41635"
							data-areacode="110101" href="#">北京市，东城区</a></li>
						<li><a data-copy="北京市，西城区" data-value="39.91228,116.36586"
							data-areacode="110102" href="#">北京市，西城区</a></li>
						<li><a data-copy="北京市，海淀区" data-value="39.959900,116.298042"
							data-areacode="110108" href="#">北京市，海淀区</a></li>
						<li><a data-copy="北京市，朝阳区" data-value="39.92147,116.4431"
							data-areacode="110105" href="#">北京市，朝阳区</a></li>
						<li><a data-copy="北京市，丰台区" data-value="39.85846,116.28706"
							data-areacode="110106" href="#">北京市，丰台区</a></li>
						<li><a data-copy="北京市，石景山区" data-value="39.90661,116.22298"
							data-areacode="110107" href="#">北京市，石景山区</a></li>
						<li><a data-copy="北京市，门头沟区" data-value="39.94064,116.102"
							data-areacode="110109" href="#">北京市，门头沟区</a></li>
						<li><a data-copy="北京市，房山区" data-value="39.74914,116.14326"
							data-areacode="110111" href="#">北京市，房山区</a></li>
						<li><a data-copy="北京市，大兴区" data-value="39.72692,116.34139"
							data-areacode="110115" href="#">北京市，大兴区</a></li>
						<li><a data-copy="北京市，通州区" data-value="39.90996,116.65643"
							data-areacode="110112" href="#">北京市，通州区</a></li>
						<li><a data-copy="北京市，顺义区" data-value="40.13021,116.65481"
							data-areacode="110113" href="#">北京市，顺义区</a></li>
						<li><a data-copy="北京市，昌平区" data-value="40.22066,116.2312"
							data-areacode="110114" href="#">北京市，昌平区</a></li>
						<li><a data-copy="北京市，平谷区" data-value="40.1407,117.12138"
							data-areacode="110117" href="#">北京市，平谷区</a></li>
						<li><a data-copy="北京市，怀柔区" data-value="40.31657,116.63196"
							data-areacode="110116" href="#">北京市，怀柔区</a></li>
						<li><a data-copy="北京市，密云县" data-value="40.37629,116.84299"
							data-areacode="110228" href="#">北京市，密云县</a></li>
						<li><a data-copy="北京市，延庆县" data-value="40.45695,115.97484"
							data-areacode="110229" href="#">北京市，延庆县</a></li>
					</ul>
                </li>
                <li class="dropdown">
                  <a id="id-simple-radius" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="0">
                    <span class="value">任意距离</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-radius" class="dropdown-menu" role="menu">
							<li><a data-copy="2 公里" data-value="2" href="#"> 2 公里 </a></li>
							<li><a data-copy="5 公里" data-value="5" href="#"> 5 公里 </a></li>
							<li><a data-copy="10 公里" data-value="10" href="#"> 10 公里 </a></li>
							<li><a data-copy="25 公里" data-value="25" href="#"> 25 公里 </a></li>
							<li><a data-copy="50 公里" data-value="50" href="#"> 50 公里 </a></li>
							<li><a data-copy="100 公里" data-value="100" href="#"> 100 公里 </a></li>
							<li><a class="leledefault" data-copy="任意距离" data-value="0" href="#">任意距离</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="id-simple-timerange" href="#" class="dropdown-toggle" data-toggle="dropdown" data-value="0">
                    <span class="value">任意时间</span>
                    <span class="caret"></span>
                  </a>
                  <ul id="simple-timerange" class="dropdown-menu" role="menu">
							<li><a data-copy="1 天" data-value="1" href="#">1 天</a></li>
							<li><a data-copy="1 周" data-value="7" href="#">1 周</a></li>
							<li><a data-copy="1 月" data-value="30" href="#"> 1 月 </a></li>
							<li><a class="leledefault" data-copy="任意时间" data-value="0" href="#">任意时间</a></li>
                  </ul>
                </li>
                <li><a>之内</a></li>
				<li class="dropdown" style="display:none;">
					<a id="id-simple-category" class="dropdown-toggle"
					data-toggle="dropdown" href="#" data-value="0"> <span class="value">所有类型</span> <span
						class="caret"></span>
					</a>
					<ul id="simple-category" class="dropdown-menu" role="menu">
						<li><a class="leledefault" href="#" data-value="0" data-copy="所有类型">所有类型</a></li>
						<li><a href="#" data-value="亲子家庭" data-copy="亲子家庭">亲子家庭</a></li>
						<li><a href="#" data-value="IT风云" data-copy="IT风云">IT风云</a></li>
						<li><a href="#" data-value="游园集市" data-copy="游园集市">游园集市</a></li>
						<li><a href="#" data-value="文艺演出" data-copy="文艺演出">文艺演出</a></li>
						<li><a href="#" data-value="体育赛事" data-copy="体育赛事">体育赛事</a></li>
						<li><a href="#" data-value="电影电视" data-copy="电影电视">电影电视</a></li>
						<li><a href="#" data-value="博物博览" data-copy="博物博览">博物博览</a></li>
						<li><a href="#" data-value="留学移民" data-copy="留学移民">留学移民</a></li>
						<li><a href="#" data-value="其他" data-copy="其他">其他</a></li>
					</ul>
				</li>
				<li><a>包含</a></li>
				<li><a id="simple-tag" href="javascript:void(0);">任何标签</a></li>
			</ul>

			  <form class="navbar-form navbar-left">
			        <div id="lele_type" class="btn-group">
                        <button type="button" leletype="group" class="btn btn-primary active">乐群</button>
                        <button type="button" leletype="event" class="btn btn-primary ">群乐</button>
                    </div>
               </form>
            
               <form class="navbar-form navbar-left" style="margin-top: 10px;" role="search">
                    <div class="input-group">
                      <input id="mainKeywords" type="text" style="width: 300px;" "class="form-control" placeholder="内容、关键字、时间、地点、类型、标签等">
                      <span class="input-group-btn">
<!--                         <button id="searchme" class="btn btn-primary" type="button">Go!</button> -->
                        <input id="searchme" class="btn btn-primary" type="submit" value="Go!" style="padding-left: 10px; padding-right: 10px; background-image:none; background-color: #337ab7;border-color: #2e6da4;color: #fff;"></input>
                      </span>
                    </div><!-- /input-group -->
                </form>
		</div>
	   </div>
	</nav>

<div class="container-fluid" id="content">

	<div class="row">
		<!-- 		left -->
		<div class="col-md-1 hidden-xs hidden-sm">
		</div>
		<!-- 主要内容部分 -->
		<div class="col-md-10 ">
			<div id="simple-find-order" class="row" style="padding-right: 15px;">
				<div class="btn-group pull-right">
					<button id="id_simple_sort_algorithm"
						class="btn btn-default btn-xs dropdown-toggle" type="button"
						data-value="0" data-toggle="dropdown">
						<span class="value">时间优先</span> <span class="caret"></span>
					</button>
					<ul id="simple_sort_algorithm" class="dropdown-menu" role="menu">
						<li><a href="#" data-value="0" data-copy="时间优先">时间优先</a></li>
						<li class="divider"></li>
						<li><a href="#" data-value="1" data-copy="距离优先">距离优先</a></li>
					</ul>
				</div>
			</div>
			<div id="parameter_holder" style="display: none">
				<input id="baseurl" type="hidden" value="{$baseurl}">
				<input id="staticurl" type="hidden" value="{$staticurl}">
				<input id="createeventurl" type="hidden" value="{$createeventurl}">
				<input id="creategroupurl" type="hidden" value="{$creategroupurl}">
				<input id="action" type="hidden" value="{$action}">
				<input id="offset" type="hidden" value="0"> 
				<input id="limit" type="hidden" value="12">
				<input id="numFound" type="hidden" value="0"> 
				<input id="hasMoreItems" type="hidden" value="0"> 
				<input id="uip" type="hidden" value="{$remoteaddr}">
				<input id="current_url" type="hidden" value="{$current_url}">
				<input id="logoiconurl" type="hidden" value="{$logoiconurl}">
			</div>
			
			<div id="weixiao_main_content" class="row clearfix" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px;"></div>
			
			<div class="row clearfix" style="margin-bottom: 30px;">
				<div class="col-md-12">
					<button id="hasmore" type="button"
						class="btn btn-success center-block" style="display: none;">更多</button>
				</div>
			</div>
			
			<div id="spinner" class="ajax-spinner center-block" style="display:none;">
				<img id="img-spinner" src="{$staticurl}img/ajax_loader_trans.gif" alt="Loading" />
			</div>		
		
		</div>
		
		<!-- right -->
		<div class="col-md-1">
		</div>
	</div>

</div>


{script}
{literal}

                            var current_url = $('#current_url').val();
                            var logoiconurl = $('#logoiconurl').val();
                            window._bd_share_config = {
                                common : {
                                    bdText : '找乐365 - 天天找乐不用愁',
                                    bdDesc : '独乐乐不如众乐乐，找乐就找找乐365！',
                                    bdUrl : current_url ,
                                    bdPic : logoiconurl,
                                },
                                share : [{
                                    "bdSize" : 16
                                }],
                                slide : [{
                                    bdImg : 0,
                                    bdPos : "left",
                                    bdTop : 100
                                }],
                            }
                         with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];


{/literal}
{/script}