
<input id="groupId" type="hidden" value="{$groupId}">
<div id="tabs" style="background-color: white; border-width: 0px;">
	<ul style="background-color: transparent; border-right-color: transparent; border-left-color: transparent; border-top-color: transparent;" class='zl_content_menu'>
		<li>
			<a href="#latest" style="padding: 0px 10px;">
				<span class="ow_ic_calendar">即将发生</span>
			</a>
		</li>
		<li>
			<a href="#history" style="padding: 0px 10px;">
				<span class="ow_ic_reply">历史乐子</span>
			</a>
		</li>
		{if $isAuthenticated}
		<li><a href="#my" style="padding: 0px 10px;"><span class="ow_ic_friends">我的乐子</span></a></li>
		<li><a href="#invite" style="padding: 0px 10px;"><span class="ow_ic_bookmark">乐子邀请</span></a></li>
		{/if}
	</ul>
	<div id="latest" style="background-color: white;">
		<input class="baseurl" type="hidden" value="{$baseurl_latestEvents}">
		<input class="total" type="hidden" value="{$total_latestEvents}">
		<input class="offset" type="hidden" value="{$offset_latestEvents}">
		<input class="limit" type="hidden" value="{$limit_latestEvents}">
		<div id="latest_content">
	      {if !empty($no_latestEvents) }
	        <div class="ow_nocontent">{text key="zlevent+no_events_label"}</div>
	      {else}
	          {foreach from=$latestEvents key='key' item='event'}
	                {decorator name='ipc' addClass='ow_smallmargin' data=$event infoString="<a href=\"`$event.eventUrl`\">`$event.title`</a>"}
	          {/foreach}
	      {/if}
      	</div>
	          <br />
			<div class="ajax-spinner" style="display:none;">
				<img id="img-spinner" src="{$staticurl}img/ajax_loader_trans.gif" alt="Loading" />
			</div>	
			{if ($hasmore_latestEvents) }	      	
			<div class="ow_center ow_std_margin" id='zl_more_latestEvents'>
	    		{decorator name='button' class='ow_ic_down_arrow' type='button' langLabel='zlevent+more' }
			</div>
			 {/if}
	</div>
	<div id="history" style="background-color: white;">
		<input class="baseurl" type="hidden" value="{$baseurl_historyEvents}">
		<input class="total" type="hidden" value="{$total_historyEvents}">
		<input class="offset" type="hidden" value="{$offset_historyEvents}">
		<input class="limit" type="hidden" value="{$limit_historyEvents}">
		<div id="history_content">
	      {if !empty($no_historyEvents) }
	        <div class="ow_nocontent">{text key="zlevent+no_events_label"}</div>
	      {else}
	          {foreach from=$historyEvents key='key' item='event'}
	                {decorator name='ipc' addClass='ow_smallmargin' data=$event infoString="<a href=\"`$event.eventUrl`\">`$event.title`</a>"}
	          {/foreach}
	      {/if}
      	</div>
	          <br />
			<div class="ajax-spinner" style="display:none;">
				<img id="img-spinner" src="{$staticurl}img/ajax_loader_trans.gif" alt="Loading" />
			</div>	
			{if ($hasmore_historyEvents) }	      	
			<div class="ow_center ow_std_margin" id='zl_more_historyEvents'>
	    		{decorator name='button' class='ow_ic_down_arrow' type='button' langLabel='zlevent+more' }
			</div>
			 {/if}
	</div>
	{if $isAuthenticated}
	<div id="my" style="background-color: white;">
		<input class="baseurl" type="hidden" value="{$baseurl_myEvents}">
		<input class="total" type="hidden" value="{$total_myEvents}">
		<input class="offset" type="hidden" value="{$offset_myEvents}">
		<input class="limit" type="hidden" value="{$limit_myEvents}">
		<div id="my_content">
	      {if !$total_myEvents }
	        <div class="ow_nocontent">{text key="zlevent+no_events_label"}</div>
	      {else}
	          {foreach from=$myEvents key='key' item='event'}
	                {decorator name='ipc' addClass='ow_smallmargin' data=$event infoString="<a href=\"`$event.eventUrl`\">`$event.title`</a>"}
	          {/foreach}
	      {/if}
      	</div>
	          <br />
			<div class="ajax-spinner" style="display:none;">
				<img id="img-spinner" src="{$staticurl}img/ajax_loader_trans.gif" alt="Loading" />
			</div>	
			{if ($hasmore_myEvents) }	      	
			<div class="ow_center ow_std_margin" id='zl_more_myEvents'>
	    		{decorator name='button' class='ow_ic_down_arrow' type='button' langLabel='zlevent+more' }
			</div>
			 {/if}	
	</div>
	<div id="invite" style="background-color: white;">
		<input class="baseurl" type="hidden" value="{$baseurl_inviteEvents}">
		<input class="total" type="hidden" value="{$total_inviteEvents}">
		<input class="offset" type="hidden" value="{$offset_inviteEvents}">
		<input class="limit" type="hidden" value="{$limit_inviteEvents}">
		<div id="invite_content">
	      {if !$total_inviteEvents }
	        <div class="ow_nocontent">{text key="zlevent+no_events_label"}</div>
	      {else}
	          {foreach from=$inviteEvents key='key' item='event'}
	                {decorator name='ipc' addClass='ow_smallmargin' data=$event infoString="<a href=\"`$event.eventUrl`\">`$event.title`</a>"}
	          {/foreach}
	      {/if}
      	</div>
	          <br />
			<div class="ajax-spinner" style="display:none;">
				<img id="img-spinner" src="{$staticurl}img/ajax_loader_trans.gif" alt="Loading" />
			</div>	
			{if ($hasmore_inviteEvents) }	      	
			<div class="ow_center ow_std_margin" id='zl_more_inviteEvents'>
	    		{decorator name='button' class='ow_ic_down_arrow' type='button' langLabel='zlevent+more' }
			</div>
			 {/if}		
	</div>
	{/if}
</div>