<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>乐群</name>
    <key>zlgroups</key>
    <description>乐群（带有相应地址）</description>
    <author>hawkwang</author>
    <authorEmail>zhaole365@yahoo.com</authorEmail>
    <authorUrl>http://www.zhaole365.com</authorUrl>
    <developerKey>723eba8b203379988e1b0d8058e608d7</developerKey>
    <build>8070</build>
    <copyright>(C) 2014 找乐365. All rights reserved.</copyright>
    <license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
