{style}
{literal}



{/literal}
{/style}


<div class="container-fluid" id="aboutus_content">
	<div class="row" style="height: 60px;"> </div>

	<div class="row">
		<div class="col-md-2 hidden-xs hidden-sm">
		  
		</div>
		
		<div class="col-md-8 ">

            <div class="row">
            	<div class="col-md-12">
            	
            		<div class="panel panel-primary">
            			<div class="panel-heading">创建初衷</div>
            			<div class="panel-body">
            	           我们曾经为找乐而发愁，因此我们希望大家再也不要面对相同的问题...<br/>
            	           找乐365 － 天天找乐不发愁
            	       </div>
            	    </div>
            
            		<div class="panel panel-primary">
            			<div class="panel-heading">发展历程</div>
            			<div class="panel-body">
            			
            			<!-- begin -->
                            <ul class="timeline">
                            
                                <li>
                                  <div class="timeline-badge danger"><i class="glyphicon glyphicon-flag" style="margin-top: 13px;"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">初漏锋芒</h4>
                                      <p>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014年9月</small>
                                        <small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> 北京 </small>
                                      </p>
                                    </div>
                                    <div class="timeline-body">
                                      <p>
                                        搭建服务器，部署应用... 呵呵，大家都可以找乐了...
                                      </p>
                                    </div>
                                  </div>
                                </li>
                            
                                <li class="timeline-inverted">
                                  <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card" style="margin-top: 13px;"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">架构重生</h4>
                                      <p>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014年1月</small>
                                        <small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> 华盛顿 </small>
                                      </p>
                                    </div>
                                    <div class="timeline-body">
                                      <p>圣诞自驾至华盛顿，偶遇大雨。停歇速8，架构重生...</p>
                                    </div>
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="timeline-badge"><i class="glyphicon glyphicon-check" style="margin-top: 13px;"></i></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">横空出世</h4>
                                      <p>
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013年9月</small>
                                        <small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> 波士顿 </small>
                                      </p>
                                    </div>
                                    <div class="timeline-body">
                                      <p>
                                        找乐365雏形面世...
                                      </p>
                                    </div>
                                  </div>
                                </li>
                            </ul>            			
            			<!-- end -->
            			</div>
            		</div>
            	</div>
            </div>		
		
		</div>
		
		<div class="col-md-2">
		  
		</div>
	</div>

</div>