{if !empty($authErrorText)}
    <div class="ow_anno ow_center">
        {$authErrorText}
    </div>
{else}
{style}
{literal}
.attend_buttons{
text-align:right;
margin-bottom:7px;
}
.attend_buttons input{

}
.current_status{
	padding-bottom:4px;
}

.inviteLink{
    text-align:center;    
}
{/literal}
{/style}

{add_content key='zlevents.content.view.top' eventId=$info.id}

<!-- 活动编辑删除工具栏部分 -->
{if !empty($editArray)}
<div class="ow_stdmargin ow_txtright">
    <ul class="ow_bl clearfix ow_small ow_stdmargin">
        <li><a href="{$editArray.delete.url}" class="ow_mild_red" onclick="return confirm('{$editArray.delete.confirmMessage}');">{$editArray.delete.label}</a></li>
        <li><a href="{$editArray.edit.url}">{$editArray.edit.label}</a></li>
        {foreach from=$toolbar item="item"}
            <li><a href="{$item.href}" {if !empty($item.id)}{$item.id}{/if} class="{if !empty($item.class)}{$item.class}{/if}">{$item.label}</a></li>
        {/foreach}
    </ul>
</div>
{/if}
<!-- 用户改变参加状态部分 -->
<div class="clearfix" id="{$contId}">
	{if empty($no_attend_form)}
    <div class="attend_buttons">
	    <div class="current_status"><span class="status">{if !empty($currentStatus)}{$currentStatus}{/if}</span> <span class="link"{if empty($currentStatus)} style="display:none;"{/if}>(<a href="javascript://">{text key='zlevent+current_status_change_label'}</a>)</span></div>
        <div class="buttons"{if !empty($currentStatus)} style="display:none;"{/if}>
             {form name='event_attend'}
                 {decorator name='button_list_item' type='submit' langLabel='zlevent+attend_yes_btn_label' id='event_attend_yes_btn'}
                 {decorator name='button_list_item' type='submit' langLabel='zlevent+attend_maybe_btn_label' id='event_attend_maybe_btn'}
                 {decorator name='button_list_item' type='submit' langLabel='zlevent+attend_no_btn_label' id='event_attend_no_btn'}
             {/form}
	    </div>
	</div>
{/if}

<!-- 显示左面部分 -->
<div class="ow_right ow_supernarrow">
    <!-- 显示细节部分 -->
    {block_decorator name='box' addClass='ow_std_margin' iconClass='ow_ic_info' langLabel='zlevent+view_page_details_block_cap_label'}
    <table class="ow_table_3" style="margin-bottom: 10px;">
        <tr class="ow_tr_first">
            <td class="ow_label" style="width: 25%">{text key='zlevent+view_page_date_label'}</td>
            <td class="ow_value">{$info.date}</td>
        </tr>
        {if !empty($info.endDate)}
        <tr>
            <td class="ow_label" style="width: 25%">{text key='zlevent+view_page_end_date_label'}</td>
            <td class="ow_value">{$info.endDate}</td>
        </tr>
        {/if}
        <tr>
            <td class="ow_label" style="width: 25%">{text key='zlevent+view_page_location_label'}</td>
            <td class="ow_value"><div style="width:90px;">{$info.location}</div></td>
        </tr>
        <tr {if !$info.groupTitle} class="ow_tr_last" {/if}>
            <td class="ow_label" style="width: 25%">{text key='zlevent+view_page_created_label'}</td>
            <td class="ow_value"><a href="{$info.creatorLink}">{$info.creatorName}</a></td>
        </tr>
        {if $info.groupTitle}
        <tr>
            <td class="ow_label" style="width: 25%">即将举办的活动数 </td>
            <td class="ow_value">{$info.totalupcoming}</td>
        </tr>
        <tr>
            <td class="ow_label" style="width: 25%">举办过的活动数</td>
            <td class="ow_value">{$info.totalhistorical}</td>
        </tr>
        <tr class="ow_tr_last">
            <td class="ow_label" style="width: 25%">{text key='zlgroups+widget_groups_title'}</td>
            <td class="ow_value"><a href="{$info.groupLink}">{$info.groupTitle}</a></td>
        </tr>
        {/if}
    </table>
    {/block_decorator}
    
    {add_content key='zlevents.view.content.after_event_description' eventId=$info.id}

    <!-- 显示邀请好友部分 -->
    {if !empty($inviteLink)}<div class="inviteLink ow_std_margin">{decorator name='button' class='ow_ic_add' type='button' langLabel='zlevent+invite_btn_label' id='inviteLink'}</div>{/if}
    
    <!-- 显示地址部分 -->
    {block_decorator name='box' addClass='ow_std_margin' iconClass='ow_ic_places' langLabel='zlevent+view_page_address_block_cap_label'}
	<div class="ow_lp_avatars">
		<div id="map_canvas"
			style="width: 100%; height: 200px; background-color: rgb(229, 227, 223); position: relative;">
			<a id="location_map_anchor" target="_blank"
				href="http://map.baidu.com/?latlng={$latitude},{$longitude}&title=标题&content={$location}&autoOpen=true">
				<img id="location_map"
				src="http://api.map.baidu.com/staticimage?width=200&height=200&center={$longitude},{$latitude}&markers={$longitude},{$latitude}&zoom=17&markerStyles=s,A,0xff0000"
				style="width: 100%; height:100%;">
			</a>
		</div>
		<div  style="text-align:left; margin-top: 10px;"> {$location} , {$formated_address}
		</div> 
	</div>
    {/block_decorator}

    <!-- 显示隶属乐群部分 -->
    {block_decorator name='box' addClass='ow_std_margin' iconClass='ow_ic_groups' langLabel='zlevent+view_group_and_creator_cap_label'}
	<div class="ow_ipc ow_smallmargin clearfix">
		<div>
		{if !empty($info.groupImage)}<a href="{$info.groupLink}"><img src="{$info.groupImage}" alt="{$info.groupTitle}" style="width:100%;" /></a>{/if}
		</div>
		<div class="ow_value" style="margin: 0px auto 10px; text-align: center;"><a href="{$info.groupLink}">{$info.groupTitle}</a></div>
	</div>
	<hr style="margin-left: 0px; margin-right: 0px;">
	<div>
	    <table class="ow_table_3" style="margin-bottom: 10px;">
	        <tr class="ow_tr_first ow_tr_last">
	            <td class="ow_label" style="width: 25%">{text key='zlgroups+creator'}</td>
	            <td class="ow_value">
	            	<div style="margin:0 auto; text-align:center;"><a href="{$info.group_founder_url}"><img src="{$info.group_founder_image}" alt="{$info.group_founder_title}" style="" /></a></div>
					<div class="ow_value" style="margin:0 auto; text-align:center;"><a href="{$info.group_founder_url}">{$info.group_founder_title}</a></div>
	            </td>
	        </tr>
	    </table>
    </div>
    <hr style="margin-left: 0px; margin-right: 0px;">
	<div>
		<div style="margin-bottom: 5px;">
			<span style="border: 1px solid #d5d5d5; border-radius: 5px; font-weight: 700; height: 8px; margin-right: 3px; padding: 2px 7px; width: 12px;">{$info.totalupcoming}</span>
			即将举办的活动
		</div>
		<div style="margin-bottom: 5px;">
			<span style="border: 1px solid #d5d5d5; border-radius: 5px; font-weight: 700; height: 8px; margin-right: 3px; padding: 2px 7px; width: 12px;">{$info.totalhistorical}</span>
			举办过的活动
		</div>

    </div>
    {/block_decorator}
    
</div>

<!-- 显示右面部分 -->
<div class="ow_left ow_superwide">

    {block_decorator name='box' type='empty' iconClass='ow_ic_picture' langLabel='zlevent+view_page_image_block_cap_label' addClass="ow_std_margin clearfix"}
    {if !empty($info.image)}<img src="{$info.image}" alt="" style="float: right;margin: 5px;" />{/if}{$info.desc}
    {/block_decorator}

    {add_content key='socialsharing.get_sharing_buttons' title=$info.title description=$info.desc image=$info.image entityType='zlevent' entityId=$info.id}

    <!-- 显示参加乐友组件部分 -->
    <div class="userList">{$userListCmp}</div>

    {add_content key='zlevents.view.content.between_description_and_wall' eventId=$info.id}
    {$comments}
</div>
</div>
{/if}

{add_content key='zlevents.content.view.bottom' eventId=$info.id}
